.root {
    -fx-spacing: 30;
    -fx-background-color: white;
}

.mainViewPane
{
    -fx-background-size: 1200px;
}

.addUser:armed
{
    -fx-background-color: white;
}

.addUser:hover
{
    -fx-background-image: url("../images/addUser.png");
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-alignment: center;
    -fx-background-size: 150px;
    -fx-animated: true;
}

.Header
{
    -fx-animated: true;
    -fx-font-weight: bold;
    -fx-text-fill: #1D3F53;
    -fx-font-size: 35px;
}

.gridPane
{

}